<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>

      <add key="settingsFolder" value="./settingsFolder/"/>
      <!--<add key="settingsFolder" value="/home/pi/KeepySettings/"/>-->
      <!--<add key="ApiRootUrl" value="http://demo.keepener.com/api/"/>-->
      <!--<add key="ApiRootUrl" value="http://localhost:26753/api/" />-->
      <add key="listeningsBackupFolder" value="./ListeningsBackup/"/>
      <!--<add key="listeningsBackupFolder" value="/home/pi/ListeningsBackup/"/>-->

    </appSettings>

</configuration>